---
http_interactions:
- request:
    method: post
    uri: http://backstg.bseller.com.br/services/CPPedido?wsdl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://back.bseller.com.br/esigesaasws/services/CPPedido"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://wrappedarray/"><env:Body><impl:confirmaConsultaEntrega><confirmaSN>S</confirmaSN><idCia>11263</idCia><usuario>OhgNXNbjhxeaaHpW/cJOSQ==</usuario><senha>KKbNFjzRA5xb0mccA+CK0Q==</senha></impl:confirmaConsultaEntrega></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"confirmaConsultaEntrega"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:confirmaConsultaEntregaResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://back.bseller.com.br/esigesaasws/services/CPPedido"><confirmaConsultaEntregaReturn
        xsi:type="xsd:string">Confirma consulta entrega efetuada com sucesso</confirmaConsultaEntregaReturn></ns1:confirmaConsultaEntregaResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 21 Sep 2015 18:05:24 GMT
recorded_with: VCR 2.9.3
