---
http_interactions:
- request:
    method: get
    uri: http://backstg.bseller.com.br/api/compras/requisicao?api_key=2290A89AA7C7493AE0536AF3A8C05E17&departamento=2&fornecedor=52007010000152
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2290A89AA7C7493AE0536AF3A8C05E17
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8081
    body:
      encoding: UTF-8
      string: '[{"numeroRequisicao":621539,"data":"2015-11-01","codigoItem":"453977","quantidade":2}]'
  recorded_at: Sun, 01 Nov 2015 17:23:46 GMT
recorded_with: VCR 2.9.3
