---
http_interactions:
- request:
    method: get
    uri: http://backstg.bseller.com.br/api/itens/estoque/massivo?api_key=2290A89AA7C7493AE0536AF3A8C05E17&tipoInterface=WA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 2290A89AA7C7493AE0536AF3A8C05E17
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:8081
    body:
      encoding: US-ASCII
      string: ! '{"content":[{"codigoItem":"224228","codigoDepartamento":2,"estoqueEstabelecimento":[{"codigoEstabelecimento":3,"quantidade":0,"dataDisponivel":"2006-01-01","prazoDisponivel":null},{"codigoEstabelecimento":1,"quantidade":1,"dataDisponivel":"2006-01-01","prazoDisponivel":null}]},{"codigoItem":"229079","codigoDepartamento":2,"estoqueEstabelecimento":[{"codigoEstabelecimento":1,"quantidade":2,"dataDisponivel":"2012-01-01","prazoDisponivel":null},{"codigoEstabelecimento":3,"quantidade":0,"dataDisponivel":"2012-01-01","prazoDisponivel":null}]},{"codigoItem":"256291","codigoDepartamento":2,"estoqueEstabelecimento":[{"codigoEstabelecimento":1,"quantidade":0,"dataDisponivel"[...]
