---
http_interactions:
- request:
    method: post
    uri: http://backstg.bseller.com.br/services/CPPedido?wsdl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://back.bseller.com.br/esigesaasws/services/CPPedido"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://wrappedarray/"><env:Body><impl:consultaEstoqueTotal><confirmaSN>S</confirmaSN><tpInterface>B2W</tpInterface><idCia>11263</idCia><usuario>OhgNXNbjhxeaaHpW/cJOSQ==</usuario><senha>KKbNFjzRA5xb0mccA+CK0Q==</senha></impl:consultaEstoqueTotal></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"consultaEstoqueTotal"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:consultaEstoqueTotalResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://back.bseller.com.br/esigesaasws/services/CPPedido"><consultaEstoqueTotalReturn xsi:type="xsd:string">CallableStatementCallback; uncategorized SQLException for SQL [{call PC_LOJA_SIGE_ESTOQUE.ESTOQUE_PARCIAL(?, ?, ?, ?)}]; SQL state [72000]; error code [20000]; ORA-20000: Existem processo(s) de interface em aberto
        PC_LOJA_SIGE_ESTOQUE.estoque_parcial
        PC_LOJA_SIGE_ESTOQUE.estoque_parcial
        ORA-06512: at &quot;BSELLER_1.PILHA&quot;, line 41
        ORA-06512: at &quot;BSELLER_1.PC_LOJA_SIGE_ESTOQUE&quot;, line 210
        ORA-06512: at line 1
        ; nested exception is java.sql.SQLException: ORA-20000: Existem processo(s) de interface em aberto
        PC_LOJA_SIGE_ESTOQUE.estoque_parcial
        PC_LOJA_SIGE_ESTOQUE.estoque_parcial
        ORA-06512: at &quot;BSELLER_1.PILHA&quot;, line 41
        ORA-06512: at &quot;BSELLER_1.PC_LOJA_SIGE_ESTOQUE&quot;, line 210
        ORA-06512: at line 1
        </consultaEstoqueTotalReturn></ns1:consultaEstoqueTotalResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 16 Sep 2015 20:24:50 GMT
recorded_with: VCR 2.9.3
